@page
@using EternalBAND.Api.Options
@using Microsoft.Extensions.Options
@inject IOptions<SiteGeneralOptions> _siteSettings
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Parolamı Unuttum";
}

<div class="main-content">
    <div class="page-content">
        <section class="bg-auth">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12">
                        <div class="card auth-box">
                            <div class="row align-items-center">
                                <div class=" col-12 col-lg-12">
                                    <div class="auth-content card-body p-5 text-white">
                                        <div class="w-100">
                                            <div class="text-center">
                                                <h5>@ViewData["Title"]</h5>
                                                <p class="text-white-70">@_siteSettings.Value.Name'un tüm özelliklerine erişmek için parolanızı sıfırlayabilirsiniz.</p>
                                            </div>
                                            <form method="post" class="auth-form">
                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <div class=" mb-3">
                                                    <label asp-for="Input.Email" class="form-label"></label>
                                                    <input asp-for="Input.Email" class="form-control"/>

                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="btn btn-white btn-hover w-100 mt-2">Şifreyi Sıfırla</button>

                                            </form>

                                            @if (!string.IsNullOrEmpty(Model.WarningMessage))
                                            {
                                                <div class="alert alert-warning">
                                                    @Model.WarningMessage
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end auth-box-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- END SIGN-UP -->

    </div>
    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}