@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<link href="/Css/RegisterConfirmation.css" rel="stylesheet" type="text/css">
<div class="register-confirmation-mail">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account.
    </p
</div>


