@page

@{
}
<link href="/Css/BaseConfirmation.css" rel="stylesheet" type="text/css">
<div class="page-content">
    <section class="section confirmation_section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    @* TODO: we are passing a html code inside string and _BaseConfirmationPagePartial is not ready to handle yet, but please implement *@
                    <p>Şifreniz sıfırlanmıştır. Giriş yapmak için lütfen <a asp-page="./Login">burayı tıklayınız</a>.</p>
                </div>
            </div>
        </div>
    </section>
</div>

