@using EternalBAND.Business.Options;
@using EternalBAND.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options;
<link href="/Css/NotificationPopUp.css" rel="stylesheet" type="text/css">
@inject ApplicationDbContext _context 
@inject UserManager<EternalBAND.Models.Users> UserManager
@inject SignInManager<EternalBAND.Models.Users> SignInManager 
@inject IOptions<NotificationOptions> _notifSettings
@{
    var user = await UserManager.GetUserAsync(User);
    var notifications = await _context.Notification.Where(n => n.ReceiveUserId == user.Id).ToListAsync();
}
@if (SignInManager.IsSignedIn(User))
{
    <a href="javascript:void(0)" class="header-item noti-icon position-relative" id="notification" data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="mdi mdi-bell fs-22"></i>
        <div class="count position-absolute">@notifications.Where(n => !n.IsRead).Count()</div>
    </a>
    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end p-0" aria-labelledby="notification">
        <div class="notification-header border-bottom bg-light">
            <h6 class="mb-1"> Bildirimler </h6>
            @{
                if (notifications.Where(n => !n.IsRead).Count() == 0)
                {
                    <p class="text-muted fs-13 mb-0">Okunmamış bildirim bulunmuyor.</p>
                }
                else
                {
                    <p class="text-muted fs-13 mb-0">@notifications.Where(n => !n.IsRead).Count() adet okunmamış bildirimin var.</p>
                }
            }
        </div>
        <div class="notification-wrapper dropdown-scroll">
            @{
                var pagination = notifications.OrderBy(n => n.IsRead).ThenByDescending(n => n.AddedDate).Take(_notifSettings.Value.MaxNotificationCountInPopup).ToList();
                foreach (var noti in pagination)
                {
                    <a href="~/@noti.RedirectLink" class="text-dark notification-item d-block active @(noti.IsRead ? "" : "notReaded") ">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar-xs bg-primary text-white rounded-circle text-center">
                                    <i class="uil uil-bell"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mt-0 mb-1 fs-14">@noti.Message</h6>

                            </div>
                        </div>
                    </a>
                }
            }
        </div><!--end notification-wrapper-->
        <div class="notification-footer border-top text-center">
            <a class="primary-link fs-13" asp-action="NotificationIndex" asp-controller="User">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span>Tümünü Gör</span>
            </a>
        </div>
    </div>
}