@using EternalBAND.Common
@model int
@{
    ViewData["Title"] = "Hata Oluştu!";
}
<div class="main-content">
    <div class="page-content">
        <section class="bg-error bg-auth text-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center">
                            <div class="mt-5">
                                @if(Model == (int)ErrorCode.NotConfirmedEmail)
                                {
                                    <h4 class="mt-3">E-posta adresiniz henüz doğrulanmamış. Lütfen e-postanızı kontrol ederek doğrulama bağlantısını kullanın.</h4>
                                    <h4 class="mt-3">Doğrulama bağlantısını yeniden göndermek için lütfen <a asp-area="Identity" asp-page="/Account/ResendEmailConfirmation">buraya tıklayınız</a>.</h4>
                                }
                                else
                                {
                                    <h1 class="fw-bold display-1">@Model</h1>
                                    <h4 class="text-uppercase mt-3">Üzgünüz, bir hata oluştu. Hata kodu: @Model</h4>
                                }
                                <div class="mt-4">
                                    <a class="btn btn-primary waves-effect waves-light" asp-action="Anasayfa" asp-controller="Home"><i class="mdi mdi-home"></i> Anasayfa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <partial name="PartialViews/_SwitcherandTopPartial"/>
</div>
