.popup {
    padding: 50px 50px 50px 50px;
}

.underline {
    text-decoration: underline !important;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}