@model EternalBAND.DomainObjects.Contacts

@{
    ViewData["Title"] = "İletişim Sayfası Form Düzenle";
}

<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-12">
                        <div class="card p-3" id="typography">
        <form asp-action="ContactsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group m-3">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" disabled class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
             <div class="form-group m-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" disabled class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
             <div class="form-group m-3">
                <label asp-for="NameSurname" class="control-label"></label>
                <input asp-for="NameSurname" disabled class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
             <div class="form-group m-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" disabled class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
              <div class="form-group m-3">
                            <label asp-for="AddedDate" class="control-label"></label>
                            <input asp-for="AddedDate" disabled class="form-control" />
                            <span asp-validation-for="AddedDate" class="text-danger"></span>
                        </div>
             <div class="form-group m-3">
                <label asp-for="IsDone" class="control-label"></label>
                 @* <input asp-for="IsDone" class="form-control" /> *@
                 <select class="form-control" asp-for="IsDone">
                     @if (Model.IsDone == true)
                     {
                         <option selected="selected" value="True">Evet</option> <option value="False">Hayır</option>
                     }
                     else
                     {
                         <option value="True">Evet</option>
                         <option selected="selected" value="False">Hayır</option>
                     }
                 </select>
                <span asp-validation-for="IsDone" class="text-danger"></span>
            </div>
         
             <div class="form-group m-3">
                <input type="submit" value="Kaydet" class="btn btn-primary mt-3" />
            </div>
        </form>
  </div>
                          </div>
                      </div>
                  </div>
              </section>
      
          </div>
      
          <partial name="PartialViews/_SwitcherAndTopPartial"/>
      </div>
     
