@{
    ViewData["Title"] = "Hakkımızda";
}
<link href="/Css/About.css" rel="stylesheet" type="text/css">
<div class="text-content">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hakkımızda | Bandbul.com</title>
    </head>
    <body>

        <header>
            <h1>Hakkımızda</h1>
        </header>

        <section>
            <p>Bandbul.com, müzisyenlerin bir araya gelmesi için oluşturulmuş özel bir platformdur. Müzisyenlerin yeteneklerini keşfetmeleri, kendilerine uygun gruplarla tanışmaları ve müzik yolculuklarına doğru insanlarla devam etmeleri amacıyla kurulduk. İster projelere dahil olmak isteyen bağımsız bir müzisyen olun, ister yeni bir müzisyen arayan grup olun, Bandbul’da aradığınız desteği bulabilirsiniz.</p>
        </section>

        <section>
            <p>Bandbul.com, yılların deneyimine sahip bir yazılımcı, müzisyen ve reklamcı ekip tarafından hayata geçirildi. Müzik camiasındaki ihtiyaçları yakından tanıyan bu ekip, kullanıcı dostu bir deneyim sunarak müzisyenlerin kolayca bağlantı kurabilmelerini ve yaratıcı projeler üretmelerini sağlıyor.</p>
        </section>

        <section>
            <p>Sanatın birleştirici gücüne inanarak çıktığımız bu yolda, Bandbul olarak tüm müzik tutkunlarını buluşturmak ve güçlü bir müzik topluluğu oluşturmak için çalışıyoruz. İlanlarınızla doğru kişilere ulaşın, yeni hikayeler yazmak için ilk adımı atın!</p>
        </section>

    </body>
</div>