<div class="mainText">
    <h2>KİŞİSEL VERİLERİN KORUNMASI KANUNU UYARINCA AYDINLATMA METNİ</h2>
    <p>
        <div><strong>1-Veri Sorumlusu:</strong></div>
        <div>İşbu aydınlatma metni, <a class="ql-link" href="http://bandbul.com/" rel="noopener noreferrer" target="_blank">Bandbul.com</a> tarafından, Veri Sorumlusu sıfatıyla, 6698 sayılı Kişisel Verilerin Korunması Kanunu (&ldquo;KVKK&rdquo;) kapsamında hazırlanmıştır. Kişisel verileriniz, <a class="ql-link" href="http://bandbul.com/" rel="noopener noreferrer" target="_blank">Bandbul.com</a> tarafından, KVKK kapsamında aşağıda a&ccedil;ıklandığı &ccedil;er&ccedil;evede elde edilebilecek, kaydedilebilecek, muhafaza edilebilecek, a&ccedil;ıklanabilecek, mevzuatın izin verdiği &ouml;l&ccedil;&uuml;de 3. kişilere aktarılabilecek veya diğer şekillerde işlenebilecektir.</div>
    </p>
    <p>
        <div><strong>2-Toplanan Kişisel Veriler:</strong></div>
        <div><a class="ql-link" href="http://Bandbul.com" rel="noopener noreferrer" target="_blank">Bandbul.com</a>, kullanıcıların internet sitesini kullanırken sağladığı kişisel verileri toplayabilir. Bu veriler, ad, soyadı, e-posta adresi, telefon numarası gibi kimlik bilgilerini i&ccedil;erebilir. Ayrıca, siteyi kullanırken otomatik olarak toplanan veriler de olabilir, &ouml;rneğin IP adresleri, tarayıcı t&uuml;rleri, ziyaret edilen sayfalar gibi.</div>
    </p>
    <p>
        <div><strong>3-Kişisel Verilerin İşlenme Ama&ccedil;ları:</strong></div>
        <div><a class="ql-link" href="http://Bandbul.com" rel="noopener noreferrer" target="_blank">Bandbul.com</a>, toplanan kişisel verileri aşağıdaki ama&ccedil;larla işleyebilir:</div>
        <ul>
            <li>Kullanıcıların kayıt işlemlerini ger&ccedil;ekleştirmek ve hesaplarını y&ouml;netmek.</li>
            <li>İlgili kullanıcılara bildirimler g&ouml;ndermek.</li>
            <li>Site &uuml;zerinden sunulan hizmetleri sağlamak ve iyileştirmek.</li>
            <li>Kullanıcıların taleplerini ve sorularını yanıtlamak.</li>
            <li>Yasal gerekliliklere uymak.</li>
        </ul>
    </p>
    <p>
        <div><strong>4-Kişisel Verilerin İşlenme S&uuml;resi:</strong> Kişisel veriler, işlenme ama&ccedil;larına uygun olarak belirlenen s&uuml;re boyunca saklanır ve işlenir. Verilerin saklanma s&uuml;resi, ilgili yasal d&uuml;zenlemelere ve gerekliliklere uygun olarak belirlenir.</div>
    </p>
    <p>
        <div><strong>5-Kişisel Veri Sahiplerinin Hakları:</strong></div>
        <div>Kişisel veri sahipleri, <a class="ql-link" href="http://Bandbul.com" rel="noopener noreferrer" target="_blank">Bandbul.com</a>'a başvurarak kişisel verilerinin işlenmesi ile ilgili aşağıdaki haklara sahiptir:</div>
        <ul>
            <li>Kişisel verilerinin ne şekilde işlendiğini &ouml;ğrenme.</li>
            <li>Kişisel verilerine erişme.</li>
            <li>Kişisel verilerinin d&uuml;zeltilmesi veya silinmesi.</li>
            <li>Kişisel verilerinin işlenmesinin durdurulması veya veri işleme faaliyetlerine itiraz etme.</li>
            <li>Kişisel verilerinin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; tarafları bilme.</li>
        </ul>
    </p>
    <p>
        <div><strong>6-KVKK Metninin G&uuml;ncellenmesi:</strong></div>
        <div><a class="ql-link" href="http://Bandbul.com" rel="noopener noreferrer" target="_blank">Bandbul.com</a>, KVKK metnini gerektiğinde g&uuml;ncelleme hakkını saklı tutar. G&uuml;ncellenen metin, internet sitesinde yayınlanacak ve kullanıcılara bildirilecektir.</div>
    </p>
</div>
<style>
    .mainText
    {
        padding: 100px 50px 50px 50px;
    }
</style>