@{
    ViewData["Title"] = "İlan Kuralları";
}
<link href="/Css/PostRules.css" rel="stylesheet" type="text/css">
<partial name="PartialViews/_BasePageShape" />
<div>
    <div id="popup" class="popup">
        <partial name="PartialViews/_BasePostRules" />
    </div>
</div>