
<p>
    Lütfen ilanınızı düzgün Türkçe ve yazım kurallarına uygun şekilde hazırlayın.
    İlan başlığında ve metninde <span class="underline">gereksiz büyük harf, karakter ve dejenere kelimeler</span> kullanmayın.
</br>
    Ayrıca, ilanınızı ilgili bölüme kaydedin ve mümkün olduğunca detaylı bir şekilde kendinizi açıklayın.
    İlanınızın yayınlanabilmesi için yukarıdaki kurallara dikkat edin. Teşekkürler!
</p>