<ul style="list-style-type: circle;">
    <li>İlanında d&uuml;zg&uuml;n bir T&uuml;rk&ccedil;e ve yazım kullan (dawul, war, arıorm gibi dejenere kelimeler kullanma)</li>
    <li><a href="https://bandbul.com:5401/" target="_blank" rel="noopener"> bandbul.com</a>'da hakları korunmuş hi&ccedil;bir mecranın &ccedil;alıntı kopyalarını satma, kiralama takas etme. bandbul.com &ccedil;alıntı mallar sergisi değildir. Yasadışı bu eylemlerden sorumlu olduğu tespit edilen &uuml;yelerin t&uuml;m kimlik bilgileri T.C. Hukuk otoriteleriyle paylaşılabilir.</li>
    <li>İlan başlığında veya metninde herhangi bir kelimenin t&uuml;m&uuml;n&uuml; <span style="color: #ff0000;"><strong><span style="text-decoration: underline;">B&Uuml;Y&Uuml;K HARFlerle yazma </span></strong></span></li>
    <li>İlan başlığında veya metninde <span style="color: #ff0000;"><strong>gereksiz karakterler</strong></span> kullanma (&Ouml;rnek: !?!?! acilllllll !?!?!)</li>
    <li>İlanını ilgili b&ouml;l&uuml;me kaydet (&Ouml;rnek: "Alınık" b&ouml;l&uuml;m&uuml;ne "gitar dersi istiyorum" ilanı verme)</li>
    <li>İlanını yazarken m&uuml;mk&uuml;n olduğu kadar &ccedil;ok detay vermeye &ccedil;alış. &Ouml;rneğin alışveriş ilanları i&ccedil;in; fiyat, semt, aletin yaşı, durumu, vb. M&uuml;zisyen ilanları i&ccedil;in; m&uuml;zik t&uuml;r&uuml;, grubun yaş ortalaması, ama&ccedil;, vb.</li>
</ul>
<h3><span style="text-decoration: underline; color: #ff0000;"><strong><span>Bu maddelere uygun verilmeyen ilanlar yayınlanmayacaktır.</span></strong></span></h3>
