<link href="/Css/PostRulesPopup.css" rel="stylesheet" type="text/css">
<div>
    <div id="popup" class="popup">
        <partial name="PartialViews/_BasePostRules" />
        <div>
            <br><button id="approve-rules" class="btn btn-info btn-lg active" onclick="closePopup()">Kuralları Okudum</button>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
</div>

<script>
    function showPopup() {
        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    // Function to close the popup
    function closePopup() {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    // Show the popup after 2-3 seconds
    setTimeout(showPopup, 1500); // Change delay time as needed
</script>