@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Şifre Belirle";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">
                  
                    <div class="col-12 col-lg-12">
                        <div class="card" id="typography">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0">@ViewData["Title"]</h5>
                            </div>
                            <div class="card-body p-4">
                                <form id="set-password-form" method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password."/>
                                                <label asp-for="Input.NewPassword" class="form-label"></label>
                                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password."/>
                                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="w-100 btn btn-lg btn-primary">Set password</button>
                                        </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}