<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<remove name="aspNetCore"/>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore xdt:Transform="Insert" xdt:Locator="Match(processPath)"  processPath=".\EternalBAND.Win.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\bandbul-stdout" hostingModel="outofprocess"/>
			
		</system.webServer>
	</location>
</configuration>
