@model EternalBAND.DomainObjects.Posts
@{
    ViewData["Title"] = "İlan Oluştur";
}
<partial name="PartialViews/_BasePageShape" />
<div class="main-content">
    <div class="page-content">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card p-3" id="typography">
                            <form asp-action="PostCreate" enctype="multipart/form-data" method="post" id="musicFormCreate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group m-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="HTMLText" class="control-label"></label>
                                    <textarea asp-for="HTMLText" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="HTMLText" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="PostTypesId" class="control-label"></label>
                                    <select asp-for="PostTypesId" class="form-control" asp-items="ViewBag.PostTypesId"></select>
                                    <span asp-validation-for="PostTypesId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="InstrumentsId" class="control-label"></label>
                                    <select asp-for="InstrumentsId" class="form-control" asp-items="ViewBag.InstrumentsId"></select>
                                    <span asp-validation-for="InstrumentsId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="CityId" class="control-label"></label>
                                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label class="control-label">Fotoğraflar</label>
                                    <div id="image-upload" class="dropzone"></div>
                                </div>
                                <div class="form-group m-3">
                                    <input type="submit" value="Oluştur" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <partial name="PartialViews/_PostRules" />
    </div>
    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>
@section Scripts {
    <script>
        initDropzone()
    </script>
}

