@model EternalBAND.DomainObjects.Posts

@{
    ViewData["Title"] = "İlan Oluştur";
}

@* <link href="~/photo_uploader/css/main.css" rel="stylesheet" type="text/css"> *@
<link href="~/imageuploader/image-uploader.css" rel="stylesheet" type="text/css">
<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-12">
                        <div class="card p-3" id="typography">
                            <form asp-action="PostCreate" enctype="multipart/form-data" method="post" id="postForm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group m-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="HTMLText" class="control-label"></label>
                                    <textarea asp-for="HTMLText" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="HTMLText" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="PostTypesId" class="control-label"></label>
                                    <select asp-for="PostTypesId" class="form-control" asp-items="ViewBag.PostTypesId"></select>
                                    <span asp-validation-for="PostTypesId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="InstrumentsId" class="control-label"></label>
                                    <select asp-for="InstrumentsId" class="form-control" asp-items="ViewBag.InstrumentsId"></select>
                                    <span asp-validation-for="InstrumentsId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="CityId" class="control-label"></label>
                                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                </div>
                                @* <div class="form-group m-3"> *@
                                @*     <label asp-for="Photo1" class="control-label"></label> *@
                                @*     <input asp-for="Photo1" class="form-control"  type="file" accept="image/*"/> *@
                                @*     <span asp-validation-for="Photo1" class="text-danger"></span> *@
                                @* </div> *@
                                @* <div class="form-group m-3"> *@
                                @*     <label asp-for="Photo2" class="control-label"></label> *@
                                @*     <input asp-for="Photo2" class="form-control"  type="file" accept="image/*"/> *@
                                @*     <span asp-validation-for="Photo2" class="text-danger"></span> *@
                                @* </div> *@
                                @* <div class="form-group m-3"> *@
                                @*     <label asp-for="Photo3" class="control-label"></label> *@
                                @*     <input asp-for="Photo3" class="form-control"  type="file" accept="image/*"/> *@
                                @*     <span asp-validation-for="Photo3" class="text-danger"></span> *@
                                @* </div> *@
                                @* <div class="form-group m-3"> *@
                                @*     <label asp-for="Photo4" class="control-label"></label> *@
                                @*     <input asp-for="Photo4" class="form-control"  type="file" accept="image/*"/> *@
                                @*     <span asp-validation-for="Photo4" class="text-danger"></span> *@
                                @* </div> *@
                                @* <div class="form-group m-3"> *@
                                @*     <label asp-for="Photo5" class="control-label"></label> *@
                                @*     <input asp-for="Photo5" class="form-control"  type="file" accept="image/*"/> *@
                                @*     <span asp-validation-for="Photo5" class="text-danger"></span> *@
                                @* </div> *@
                                @* <div class="form-group m-3"> *@
                                @*       <label  class="control-label">Fotoğraflar</label> *@
                                @*     <div class="multiple-uploader" id="multiple-uploader"> *@
                                @* *@
                                @*         <div class="mup-msg"> *@
                                @*             <span class="mup-main-msg">Tıklayarak fotoğraf ekleyebilirsiniz.</span> *@
                                @*             <span class="mup-msg" id="max-upload-number">En fazla 5 fotoğraf.</span> *@
                                @*             <span class="mup-msg">Sadece resim.</span> *@
                                @*         </div> *@
                                @*     </div> *@
                                @* </div>  *@
                                <div class="form-group m-3">
                                    <label class="control-label">Fotoğraflar</label>
                                    <div class="input-images-2" style="padding-top: .5rem;"></div>
                                </div>


                                <div class="form-group m-3">
                                    <input type="submit" value="Oluştur" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>

<script>
//RunQuill("htmlEditor");
</script>

<script src="~/imageuploader/image-uploader.js"></script>

<script>
  
        $('.input-images-2').imageUploader({
            // preloaded: preloaded,
            imagesInputName: 'images',
            preloadedInputName: 'old',
            maxSize: 2 * 1024 * 1024,
            maxFiles: 5
        });
</script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
